<mat-dialog-content fxLayout="column" fxLayoutAlign="start start">
  <mat-label>Tab Name</mat-label>
  <input style="text-align: center;" type="text" matInput [(ngModel)]="data.data.name">
  <mat-label>System</mat-label>
  <input style="text-align: center;" type="text" [formControl]="tabSystemControl" [matAutocomplete]="autoLeadsTo"
    [(ngModel)]="data.data.solarSystemName">
  <mat-autocomplete #autoLeadsTo="matAutocomplete" (optionSelected)="tabSystemSelected($event.option.value)">
    <mat-option *ngFor="let system of filteredSystems | async" [value]="system.name"
      style="line-height: auto; height:auto;">
      {{system.name}}
    </mat-option>
  </mat-autocomplete>
</mat-dialog-content>
<mat-divider></mat-divider>
<button mat-button (click)="confirm()" style="width:100%;">Add</button>
