<div style="text-align: center; background-color: #303030; color: white;" fxLayout="column" fxFlexFill fxLayoutGap="25px" fxLayoutAlign="start center">
  <img style="max-width: 400px;" src="assets\VoidWordLogo.png" alt="Void Logo">
  <mat-card>
    <mat-card-title>

    </mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <img [src]="allianceId > 0 ? allianceLogo : corpLogo" alt="Group Logo">
        <h2>
          Hosted by
            <a>{{groupName}}</a>
        </h2>
        <a *ngIf="!fetchingLink" [routerLinkActive]="['link-active']" [href]="ssoLink"><img
          src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" alt="Holesale">
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

