<div *ngIf="authConrol.isLoggedIn()" style="height: 100vh;">
  <mat-toolbar fxLayout="row">
    <span>EveVoid</span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-main-character *ngIf="auth.isLoggedIn() && mainDto !== null" [mainChar]="mainDto"></app-main-character>
    <span fxFlex></span>
    <button mat-button *ngIf="auth.isLoggedIn()" [routerLinkActive]="['link-active']" (click)="logout()">Logout
    </button>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="over" [(opened)]="opened">
      <perfect-scrollbar style="max-width: 300px;">
        <div fxLayout="column">
          <div *ngFor="let esiChar of mainDto.esiCharacterDtos" >
            <app-esi-character [esiChar]="esiChar"></app-esi-character>
            <mat-divider></mat-divider>
          </div>
          <a *ngIf="!fetchingLink" class="nav-item" [routerLinkActive]="['link-active']" [href]="ssoLink" style="margin:auto;" mat-button>
            Add<mat-icon color="accent">add</mat-icon>
            <!-- <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-small.png" alt="AddMoreCharacters"> -->
          </a>
        </div>
      </perfect-scrollbar>
    </mat-sidenav>
    <mat-sidenav-content style="height: calc(100vh - 64px);width: auto">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
