<div *ngIf="authControl.isLoggedIn()" style="height: 100vh;">
  <mat-toolbar fxLayout="row">
    <span>EveVoid</span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-main-character *ngIf="auth.isLoggedIn() && mainDto !== null" [mainChar]="mainDto"></app-main-character>
    <span fxFlex></span>
    <button mat-button *ngIf="auth.isLoggedIn()" [routerLinkActive]="['link-active']" (click)="logout()">Logout
    </button>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="over" [(opened)]="opened">
      <perfect-scrollbar style="max-width: 300px;">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start start" >
            <mat-form-field appearance="fill" style="width: 80px;">
              <mat-label>Gate Count</mat-label>
              <mat-select [(value)]="gateCount">
                <mat-option value="0">0</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100px;">
              <mat-label>Mask Type</mat-label>
              <mat-select [(ngModel)]="mainDto.maskType" (selectionChange)="updateMask($event.value)">
                <mat-option [value]="0">Alliance</mat-option>
                <mat-option [value]="10">Corp</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 80px;">
              <mat-label>Overlay</mat-label>
              <mat-select [(value)]="overlay">
                <mat-option value="left">Left</mat-option>
                <mat-option value="right">right</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngFor="let esiChar of mainDto.esiCharacters" >
            <app-esi-character [esiChar]="esiChar"></app-esi-character>
            <mat-divider></mat-divider>
          </div>
          <a *ngIf="!fetchingLink" class="nav-item" [routerLinkActive]="['link-active']" [href]="ssoLink" style="margin:auto;" mat-button>
            Add Characters<mat-icon color="accent">add</mat-icon>
            <!-- <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-small.png" alt="AddMoreCharacters"> -->
          </a>
        </div>
      </perfect-scrollbar>
    </mat-sidenav>
    <mat-sidenav-content style="height: calc(100vh - 64px);width: auto">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
