<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start start">
    <img [src]="portrait" alt="esiChar.name" style="width:64px; height:64px; border-radius: 5px; margin:2px;">
    <div style="width:10px;"></div>
    <table style="height: 64px; font-size: 14px; line-height: initial;">
      <tr style="height:50%;">
        <th style="text-align: start;">{{esiChar.name}}</th>
      </tr>
      <tr>
        <td>
          {{esiChar.corporationName}}
        </td>
      </tr>
      <tr *ngIf="esiChar.allianceName != null">
        <td>
          {{esiChar.allianceName}}
        </td>
      </tr>
      <tr *ngIf="esiChar.currentShipName != null">
        <td>
          {{esiChar.currentShipTypeName}} - {{esiChar.currentShipName}}
        </td>
      </tr>
      <tr *ngIf="esiChar.currentSystemName != null">
        <td>
          <a (click)="goToSystem(esiChar.currentSystemId)">{{esiChar.currentSystemName}}</a>
        </td>
      </tr>
    </table>
    <div style="width:10px;"></div>
  </div>
</div>


