<div fxLayout="row" fxLayoutAlign="start start" (paste)="onPaste($event)" style="overflow: hidden;">
  <mat-card style="width: 400px; position: fixed; background-color: rgb(66, 66, 66, 0.6);"
    [style.right]="preferencesControl.getOverlayPosition() == 'right' ? 0 : ''">
    <div fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="space-around start" style="width:100%">
        <mat-card-header>
          <mat-card-title>{{solarSystem.name}}</mat-card-title>
          <mat-card-subtitle>{{solarSystem.constellaionName}}</mat-card-subtitle>
          <mat-card-subtitle>{{solarSystem.regionName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="solarSystem.tags.length > 0" >
          <mat-card-title>Tags</mat-card-title>
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="5px">
            <div *ngFor="let tag of solarSystem.tags" style="white-space: nowrap;">
              <span [style.color]="tag.color" style="margin-right: 1px;">
                <mat-icon style="font-size: 20px; vertical-align: middle;">{{tag.icon}}</mat-icon>{{tag.name}}</span>
                <mat-icon style="color: white; font-size: 10px; vertical-align: middle; width:inherit; height:inherit; cursor: pointer;" (click)="deleteTag(tag.id)">close</mat-icon>
            </div>
          </div>
        </mat-card-content>
        <span fxFlex></span>
        <div>
          <mat-icon *ngIf="!solarSystem.isFavorite" style="cursor: pointer;" (click)="updateFavorite(true)">favorite_border</mat-icon>
          <mat-icon *ngIf="solarSystem.isFavorite" style="cursor: pointer;" (click)="updateFavorite(false)">favorite</mat-icon>
        </div>
      </div>
      <mat-tab-group dynamicHeight style="width:100%;">
        <mat-tab label="Signatures">
          <div fxLayout="row" fxLayoutAlign="space-around start" style="width:100%;">
            <button mat-button (click)="openSigDialog(0)">Add Sig</button>
          </div>
          <table mat-table [dataSource]="dataSource" style="width:100%; white-space: pre-wrap" matSort>
            <ng-container matColumnDef="signatureId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SigID</th>
              <td mat-cell *matCellDef="let element" style="text-transform:uppercase; text-align: center;">
                {{element.signatureId}} </td>
            </ng-container>
            <ng-container matColumnDef="signatureType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td mat-cell *matCellDef="let element" matTooltipPosition="above"
              [matTooltip]="getTooltipForWormhole(element)" matTooltipClass="material-tooltip">
                {{element.signatureType === 1 && element.wormholeType && element.wormholeType != '????' ? element.wormholeType : sigTypes[element.signatureType].name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="leadsTo">
              <th mat-header-cell *matHeaderCellDef>Leads To</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="goToSystem(element.destinationSystemId)" *ngIf="element.signatureType === 1" >
                  {{element.signatureType === 1 && element.destinationSystemName ? element.destinationSystemName : element.name}}
                </a>
                <div *ngIf="element.signatureType !== 1">
                  {{element.name}}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="expiryDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Left</th>
              <td mat-cell *matCellDef="let element" style.color="{{getDateColorFromFormat(element.expiryDate)}}">
                {{element.expiryDate | durationLeft}}
              </td>
            </ng-container>
            <ng-container matColumnDef="mass">
              <th mat-header-cell *matHeaderCellDef>Mass</th>
              <td mat-cell *matCellDef="let element" style.color="{{getMassColor(element.totalMass)}}">
                {{element.signatureType === 1 ? getMassText(element.totalMass) : ''}}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <a (click)="deleteSig(element.id)" style="cursor: pointer;">
                  <mat-icon style="font-size: 20px;">delete</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openSigDialog(row.id)"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Structures">
          <app-system-structure-list [solarSystemId]="solarSystem.id" [structureList]="solarSystem.structures"></app-system-structure-list>
        </mat-tab>
        <mat-tab label="Notes">

        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
  <div style="position: absolute; max-width: 20vw; left: 434px; right: 434px;">
    <app-map-tab-layout></app-map-tab-layout>
  </div>
  <div>
    <app-map-graph></app-map-graph>
  </div>

</div>
