<div style="height: calc(100vh - 64px);width: 100vw;">
  <ngx-graph class="chart-container" [draggingEnabled]="false" [showMiniMap]="true" [animate]="false"
    [miniMapPosition]="miniMapPosition"
    [links]="links" [layoutSettings]="layoutSettings" [nodes]="nodes" [miniMapMaxWidth]="300" [miniMapMaxHeight]="300"
    layout="dagre">
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:foreignObject [style.width]="node.label.length > 5 ? (node.label.length * 11) + 16 : 80"
          [style.height]="node.data.statics.length > 0 ? 66 : 44">
          <xhtml:div style="height:100%">
            <mat-card [style.background]="node.data.customColor" fxFlex fxLayout="column" fxLayoutAlign="space-around start"
              style="padding:5px; border: 0.5px solid black!important">
                <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                  <label style="margin: 0; font-size: smaller; white-space: nowrap;" [style.color]="node.data.systemTypeColor">
                    {{node.data.systemType}}
                  </label>
                  <span class="mat-badge-content mat-badge-active" style="position: inherit; width: 16px; height: 16px; line-height: 16px; pointer-events: all;"
                  *ngIf="node.data.pilotCount > 0" matTooltipPosition="after"
                  [matTooltip]="node.data.pilots">
                    {{node.data.pilotCount}}
                  </span>
                </div>
                <a style="color:white; font-size: large;" (click)="goToSystem(node.id)"
                  matTooltipClass="material-tooltip">
                  {{node.label}}
                </a>
                <div fxFlex fxLayout="row" fxLayoutAlign="start start" style="width: 100%;">
                  <span *ngFor="let static of node.data.statics" [style.color]="static.color" style="margin-right: 3px;"
                  matTooltipPosition="above" [matTooltip]="getTooltipForStatic(static)" matTooltipClass="material-tooltip">{{static.name}}</span>
                </div>
            </mat-card>
          </xhtml:div>
        </svg:foreignObject>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" [style.stroke-dasharray]="link.data.lineType" [style.stroke]="link.data.color" [style.stroke-width]="link.data.width"
        style="stroke-linecap: round;">
        </svg:path>
      </svg:g>
      <svg:g
      class="linkMidpoint"
      *ngIf="link.midPoint"
      [attr.transform]="'translate(' + (link.midPoint.x - 16) + ',' + (link.midPoint.y - 10) + ')'"
      style="text-transform:uppercase; text-align: center; text-anchor: middle;">
      <rect rx="3" ry="3" width="32" height="32" [style.fill]="link.data.color" style="stroke:black; stroke-width: 0.5;">

      </rect>
      <svg:text alignment-baseline="baseline"
      style="text-transform:uppercase; text-align: center; font-size: smaller; stroke:black; stroke-width: 0.5;">
        <tspan x="16" dy="1.2em" (dblclick)="openSigDialog(link.data.id)">{{ link.data.targetName }}</tspan>
        <tspan x="16" dy="1.2em" (dblclick)="openSigDialog(link.data.targetId)">{{ link.data.sourceName }}</tspan>
      </svg:text>
    </svg:g>
    </ng-template>
  </ngx-graph>
</div>
