<div fxLayout="row" fxLayoutAlign="start start">
  <img [src]="portrait" alt="mainChar.name" style="width:60px; height:60px; border-radius: 5px; margin:2px;">
  <table style="height: 64px; font-size: 14px; line-height: initial;">
    <tr style="height:50%;">
      <th>{{mainChar.name}}</th>
    </tr>
    <tr>
      <td>
        {{mainChar.corporationName}}
      </td>
    </tr>
    <tr *ngIf="mainChar.allianceName != null">
      <td>
        {{mainChar.allianceName}}
      </td>
    </tr>
  </table>
</div>
