<div mat-dialog-content fxLayout="column" fxLayoutAlign="start start" style="overflow-x: hidden;">
  <!-- <perfect-scrollbar style="overflow-x: hidden;"> -->
  <ckeditor [editor]="Editor" style="width: 500px;"
    (ready)="onReady($event)"
    [(ngModel)]="note.content"></ckeditor>
  <!-- </perfect-scrollbar> -->
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around start">
  <button class="mat-raised-button mat-primary" (click)="confirm()">Confirm</button>
  <button class="mat-raised-button" (click)="cancel()">Cancel</button>
</div>

